In [1]:
import pandas as pd
import numpy as np

In [2]:
train_voc_full = pd.read_csv('train/train_voc.csv')

/Users/lingjie/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train_voc_full = pd.merge(train_voc_full, train_user, on='phone_no_m', how='inner')

In [5]:
train_voc_full['start_datetime'] = pd.to_datetime(train_voc_full['start_datetime'])

In [6]:
train_voc_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3977982 entries, 0 to 3977981
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   phone_no_m      object
 1   opposite_no_m   object
 2   calltype_id     int64
 3   start_datetime  datetime64[ns]
 4   call_dur        int64
 5   city_name       object
 6   county_name     object
 7   imei_m          object
 8   label           int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 303.5+ MB

In [7]:
train_voc_full.head()

,phone_no_m,opposite_no_m,calltype_id,start_datetime,call_dur,city_name,county_name,imei_m,label
0,41a97bdfe77f3210deba78689baecb110922878be2f14c...,79ef199a532bcb9a89990d0996cee3d40557f06b9e5265...,1,2019-09-18 16:19:20,34,NaN,NaN,5f054945a5037e688abe0ef36d88a0fd351d476e3320c2...,0
1,41a97bdfe77f3210deba78689baecb110922878be2f14c...,e273542129cf7fa37c28d3f4c95b7b9e8bcb561bbabc50...,2,2019-09-18 16:18:46,23,NaN,NaN,5f054945a5037e688abe0ef36d88a0fd351d476e3320c2...,0
2,41a97bdfe77f3210deba78689baecb110922878be2f14c...,3c84b94a5623bc1dc5c4f2ba686043bfe14128f1311803...,2,2019-09-19 14:33:11,61,NaN,NaN,5f054945a5037e688abe0ef36d88a0fd351d476e3320c2...,0
3,41a97bdfe77f3210deba78689baecb110922878be2f14c...,56523c905b13a867a7bc0b862d77b53cef13f424ba73f6...,2,2019-09-20 13:12:21,28,NaN,NaN,5f054945a5037e688abe0ef36d88a0fd351d476e3320c2...,0
4,41a97bdfe77f3210deba78689baecb110922878be2f14c...,6f458a273a51bcce963508b6e2d4fda76d9822c63553af...,1,2019-08-02 13:14:07,45,NaN,NaN,5f054945a5037e688abe0ef36d88a0fd351d476e3320c2...,0

### call_dur

In [12]:
call_dur = train_voc_full[['phone_no_m','call_dur']].groupby('phone_no_m').mean().reset_index()

In [13]:
call_dur.head()

                                          phone_no_m    call_dur
0  00073ceecc0f7220a440580ac5dea410c90d14b6669458...  138.505814
1  00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...   28.821743
2  000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...   59.690987
3  0014b698069503ceadb9442605834729064be51cdd7002...   23.787854
4  0034030646f2008d36431e00b133db30efc8b0c31757f3...   46.735166

### opposite_no_m

In [60]:
opposite_no_m = train_voc_full[['phone_no_m','opposite_no_m']].\
                groupby('phone_no_m')['opposite_no_m'].nunique().reset_index()

In [61]:
opposite_no_m.columns = ['phone_no_m','voc_opposite_no_m']

In [62]:
opposite_no_m

                                             phone_no_m  voc_opposite_no_m
0     00073ceecc0f7220a440580ac5dea410c90d14b6669458...                 47
1     00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...               8945
2     000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...                370
3     0014b698069503ceadb9442605834729064be51cdd7002...               1235
4     0034030646f2008d36431e00b133db30efc8b0c31757f3...                 66
...                                                 ...                ...
4811  ffc523b3b043cd14a72f03a879beb6794b1065f353800e...                228
4812  ffd3a62b9204a8695140a7f04d2bf821c53b1e798fd938...                 31
4813  ffdbcf9285b71d560a7c79445700db2c363b066003a73d...                517
4814  ffdf60d18dbbc25bb8c1697f7c97e8547517b2523d7001...                 21
4815  ffe9b31003bfabebaad23e4e9eb593cf8566a906c3e4c0...                 95

[4816 rows x 2 columns]

### calltype_id

In [14]:
calltype_id = pd.get_dummies(train_voc_full[['phone_no_m','calltype_id']],columns=['calltype_id']).\
                    groupby('phone_no_m').mean().reset_index()

In [53]:
calltype_id.columns = ['phone_no_m', 'voc_calltype_1', 'voc_calltype_2', 'voc_calltype_3']

In [54]:
calltype_id.head()

,phone_no_m,voc_calltype_1,voc_calltype_2,voc_calltype_3
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,1.000000,0.000000,0.0
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,1.000000,0.000000,0.0
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,0.954936,0.045064,0.0
3,0014b698069503ceadb9442605834729064be51cdd7002...,1.000000,0.000000,0.0
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,0.651230,0.348770,0.0

### county_name

In [48]:
county_name = train_voc_full[['phone_no_m','county_name']].\
                groupby('phone_no_m')['county_name'].nunique().reset_index()

In [58]:
county_name.columns = ['phone_no_m','voc_receive_unique_county']

In [59]:
county_name.head()

,phone_no_m,voc_receive_unique_county
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,4
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,2
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,1
3,0014b698069503ceadb9442605834729064be51cdd7002...,1
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,5

### Final data to use

In [63]:
train_voc = pd.merge(call_dur,opposite_no_m,on='phone_no_m',how='outer')

In [64]:
train_voc = pd.merge(train_voc,calltype_id,on='phone_no_m',how='outer')

In [65]:
train_voc = pd.merge(train_voc,county_name,on='phone_no_m',how='outer')

In [68]:
train_voc.to_csv('train/train_voc_cleaned.csv',index=False)

In [69]:
train_voc

,phone_no_m,call_dur,voc_opposite_no_m,voc_calltype_1,voc_calltype_2,voc_calltype_3,voc_receive_unique_county
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,138.505814,47,1.000000,0.000000,0.0,4
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,28.821743,8945,1.000000,0.000000,0.0,2
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,59.690987,370,0.954936,0.045064,0.0,1
3,0014b698069503ceadb9442605834729064be51cdd7002...,23.787854,1235,1.000000,0.000000,0.0,1
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,46.735166,66,0.651230,0.348770,0.0,5
...,...,...,...,...,...,...,...
4811,ffc523b3b043cd14a72f03a879beb6794b1065f353800e...,58.026771,228,0.371061,0.628939,0.0,15
4812,ffd3a62b9204a8695140a7f04d2bf821c53b1e798fd938...,48.727273,31,0.456938,0.543062,0.0,3
4813,ffdbcf9285b71d560a7c79445700db2c363b066003a73d...,69.560429,517,0.330432,0.669568,0.0,6
4814,ffdf60d18dbbc25bb8c1697f7c97e8547517b2523d7001...,43.219653,21,0.988439,0.011561,0.0,5
4815,ffe9b31003bfabebaad23e4e9eb593cf8566a906c3e4c0...,94.986538,95,0.544231,0.455769,0.0,15

In [70]:
train_voc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4816 entries, 0 to 4815
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   phone_no_m                 4816 non-null   object
 1   call_dur                   4816 non-null   float64
 2   voc_opposite_no_m          4816 non-null   int64
 3   voc_calltype_1             4816 non-null   float64
 4   voc_calltype_2             4816 non-null   float64
 5   voc_calltype_3             4816 non-null   float64
 6   voc_receive_unique_county  4816 non-null   int64
dtypes: float64(4), int64(2), object(1)
memory usage: 301.0+ KB