In [1]:
import numpy as np
import pandas as pd

In [2]:
train_sms_full = pd.read_csv('train/train_sms.csv')

In [3]:
train_sms_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6848509 entries, 0 to 6848508
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   phone_no_m        object
 1   opposite_no_m     object
 2   calltype_id       int64
 3   request_datetime  object
dtypes: int64(1), object(3)
memory usage: 209.0+ MB

In [4]:
train_sms_full.head()

,phone_no_m,opposite_no_m,calltype_id,request_datetime
0,0251387744988114430181c3e680a3733001a26fe686bd...,df22edbc0e3dd6bc4f2f453e687b743e8442a54834b64f...,2,2019-08-01 12:13:08
1,0251387744988114430181c3e680a3733001a26fe686bd...,df22edbc0e3dd6bc4f2f453e687b743e8442a54834b64f...,2,2019-08-01 12:13:08
2,0251387744988114430181c3e680a3733001a26fe686bd...,df22edbc0e3dd6bc4f2f453e687b743e8442a54834b64f...,2,2019-08-01 12:13:08
3,296cfae1d838070c4dd05a125a85c3d29bbb95f713c2ea...,1205bb229d750a6bcb3f9c33893b5d68c8fc8a6443b0a7...,2,2019-08-01 17:46:44
4,39de6ef3a87b8e660e42496450c54b731f3621ca708944...,972affd4be9e7596420379b7e7910843759cdfbd81315e...,2,2019-08-01 16:46:30

### opposite_no_m

In [17]:
opposite_no_m = (train_sms_full[['phone_no_m','opposite_no_m']].\
                groupby('phone_no_m').count()/train_sms_full[['phone_no_m','opposite_no_m']].\
                groupby('phone_no_m').nunique()).drop('phone_no_m',axis=1).reset_index()

In [19]:
opposite_no_m.columns = ['phone_no_m','sms_per_receiver']

In [21]:
opposite_no_m.head()

                                          phone_no_m  sms_per_receiver
0  00073ceecc0f7220a440580ac5dea410c90d14b6669458...          8.147541
1  00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...         16.205882
2  000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...          3.129032
3  0014b698069503ceadb9442605834729064be51cdd7002...          4.785714
4  0034030646f2008d36431e00b133db30efc8b0c31757f3...          5.835443

### calltype_id

In [27]:
calltype_id = pd.get_dummies(train_sms_full[['phone_no_m','calltype_id']],
                             columns=['calltype_id'], prefix='sms_calltype').\
                groupby('phone_no_m').mean().reset_index()

In [29]:
calltype_id.head()

,phone_no_m,sms_calltype_1,sms_calltype_2
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,0.006036,0.993964
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,0.018149,0.981851
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,0.164948,0.835052
3,0014b698069503ceadb9442605834729064be51cdd7002...,0.029851,0.970149
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,0.012292,0.987708

### Final train_sms to be used

In [30]:
train_sms = pd.merge(opposite_no_m, calltype_id, on='phone_no_m', how='outer')

In [31]:
train_sms.head()

,phone_no_m,sms_per_receiver,sms_calltype_1,sms_calltype_2
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,8.147541,0.006036,0.993964
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,16.205882,0.018149,0.981851
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,3.129032,0.164948,0.835052
3,0014b698069503ceadb9442605834729064be51cdd7002...,4.785714,0.029851,0.970149
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,5.835443,0.012292,0.987708

In [ ]:
train_sms.to_csv('train/train_sms_cleaned.csv',index=False)