In [1]:
import numpy as np
import pandas as pd

In [2]:
train_app_full = pd.read_csv('train/train_app.csv')

In [3]:
train_app_full

,phone_no_m,busi_name,flow,month_id
0,416cec0f25b93f08bfd9cff44382c5da3a6346beb16a2c...,NaN,0.000000,NaN
1,26fcb7c6f4125ee5445756d4ff5346c29f2aff7d0f2e31...,NaN,0.000000,NaN
2,1a58c82eeefdb00ea6abf2e6010a8e808b27e1802b764d...,NaN,0.021529,2019-12
3,1a58c82eeefdb00ea6abf2e6010a8e808b27e1802b764d...,微信,0.001846,2019-12
4,1a58c82eeefdb00ea6abf2e6010a8e808b27e1802b764d...,高德导航,0.002288,2019-12
...,...,...,...,...
3283597,2bffd2f47cbd77d187eb95f14a8f17b32fd541bba49721...,AppStore,0.015110,2020-01
3283598,2bffd2f47cbd77d187eb95f14a8f17b32fd541bba49721...,AppStore,0.168604,2020-03
3283599,2bffd2f47cbd77d187eb95f14a8f17b32fd541bba49721...,NaN,0.000736,2019-12
3283600,2bffd2f47cbd77d187eb95f14a8f17b32fd541bba49721...,NaN,0.000145,2019-12
3283601,2bffd2f47cbd77d187eb95f14a8f17b32fd541bba49721...,NaN,0.003542,2019-12

### flow

In [4]:
flow = train_app_full[['phone_no_m','flow']].groupby('phone_no_m').mean().reset_index()

In [56]:
flow.columns = ['phone_no_m','network_usage']

In [57]:
flow

                                             phone_no_m  network_usage
0     00073ceecc0f7220a440580ac5dea410c90d14b6669458...      31.427467
1     00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...       4.166953
2     000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...       0.000000
3     0014b698069503ceadb9442605834729064be51cdd7002...       0.298681
4     0034030646f2008d36431e00b133db30efc8b0c31757f3...      17.019287
...                                                 ...            ...
6101  ffc523b3b043cd14a72f03a879beb6794b1065f353800e...      38.820149
6102  ffd3a62b9204a8695140a7f04d2bf821c53b1e798fd938...       0.000000
6103  ffdbcf9285b71d560a7c79445700db2c363b066003a73d...      56.056727
6104  ffdf60d18dbbc25bb8c1697f7c97e8547517b2523d7001...       7.376948
6105  ffe9b31003bfabebaad23e4e9eb593cf8566a906c3e4c0...      43.917187

[6106 rows x 2 columns]

### busi_name

In [47]:
busi_name = train_app_full[['phone_no_m','busi_name']]

In [48]:
busi_name['busi_name'].where(busi_name['busi_name'].isna(),'yes',inplace=True)

/Users/lingjie/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [49]:
busi_name['busi_name'].where(~busi_name['busi_name'].isna(),'no',inplace=True)

In [50]:
busi_name = pd.get_dummies(busi_name,columns=['busi_name'],prefix='data_with_known_app')

In [54]:
busi_name = busi_name.groupby('phone_no_m').mean().reset_index()

In [55]:
busi_name

,phone_no_m,data_with_known_app_no,data_with_known_app_yes
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,0.137097,0.862903
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,0.076923,0.923077
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,1.000000,0.000000
3,0014b698069503ceadb9442605834729064be51cdd7002...,0.200000,0.800000
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,0.208750,0.791250
...,...,...,...
6101,ffc523b3b043cd14a72f03a879beb6794b1065f353800e...,0.048023,0.951977
6102,ffd3a62b9204a8695140a7f04d2bf821c53b1e798fd938...,1.000000,0.000000
6103,ffdbcf9285b71d560a7c79445700db2c363b066003a73d...,0.266760,0.733240
6104,ffdf60d18dbbc25bb8c1697f7c97e8547517b2523d7001...,0.078394,0.921606
6105,ffe9b31003bfabebaad23e4e9eb593cf8566a906c3e4c0...,0.122622,0.877378

### train_app_cleaned

In [58]:
train_app = pd.merge(busi_name,flow,on='phone_no_m',how='outer')

In [60]:
train_app.to_csv('train/train_app_cleaned.csv',index=False)

In [61]:
train_app

,phone_no_m,data_with_known_app_no,data_with_known_app_yes,network_usage
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,0.137097,0.862903,31.427467
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,0.076923,0.923077,4.166953
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,1.000000,0.000000,0.000000
3,0014b698069503ceadb9442605834729064be51cdd7002...,0.200000,0.800000,0.298681
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,0.208750,0.791250,17.019287
...,...,...,...,...
6101,ffc523b3b043cd14a72f03a879beb6794b1065f353800e...,0.048023,0.951977,38.820149
6102,ffd3a62b9204a8695140a7f04d2bf821c53b1e798fd938...,1.000000,0.000000,0.000000
6103,ffdbcf9285b71d560a7c79445700db2c363b066003a73d...,0.266760,0.733240,56.056727
6104,ffdf60d18dbbc25bb8c1697f7c97e8547517b2523d7001...,0.078394,0.921606,7.376948
6105,ffe9b31003bfabebaad23e4e9eb593cf8566a906c3e4c0...,0.122622,0.877378,43.917187